.game-field {
  display: flex;
}

.gameGrid {
  width: 600px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(10, 50px);
  /* grid-template-rows: repeat(10, 50px); */
}

.messages {
  overflow-y: scroll;
  height: 60vh;
}

.cell {
  width: 100%;
  height: 100%;
  background-color: #0d6efd;
  cursor: pointer;
  transition: 0.5s;
}

.crashed {
  background-color: #dc3545;
}

.missed {
  background-color: #ffc107;
}

.hidden {
  display: none;
}
@media (max-width: 1000px) {
  .gameGrid {
    width: 200px;
    height: 200px;
    grid-template-columns: repeat(10, 20px);
  }
}
